.button {
    border: 1px solid $text-color;
    padding: 12px 40px;
    text-decoration: none;


    &:hover {
        color: $white;
        background: $text-color;
        text-decoration: none;
    }
}

.button-white {
    border: 1px solid $white;
    color: $white !important;

    &:hover {
        color: $text-color !important;
        background: $white;
    }
}

.button-container {
    margin: 80px 0;
}

.button-black{
    color:black;
}

.cart_item_options{
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}
